.promo {
    padding: 30px 0;
}

.promo-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.promo__content {
    padding-right: 65px;
}
.promo-buttons>* {
    margin-right: 44px;
}