.button {
    font-family: 'Open Sans', Verdana, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 2.2rem;
    padding: 11px 25px 13px;
    border-radius: 4px;
    cursor: pointer;
    transition: all .3s;
}

.button__bordered {
    background: $color-light;
    border: 1px solid $color-border;
    color: $color-text;
}

.button__colored {
    background: $color-primary;
    color: $color-light;
    border: 1px solid $color-primary;
}

.button__colored:hover {
    background: $color-secondary;
    border-color: $color-secondary;
}

.button__bordered:hover {
    background: $color-hovered;
    border-color: $color-hovered;
}